---
name: Publish

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "v*.*.*"

jobs:
  shipyard:
    name: Shipyard
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: TheHackerApp/setup-rust@main
        with:
          ssh-private-key: ${{ secrets.SHIPYARD_SSH_KEY }}
          token: ${{ secrets.SHIPYARD_TOKEN }}

      - run: cargo publish

  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
